.todo-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px solid;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: #ffc2a0;
  box-shadow: 3px 3px #bfbfbf;
  padding: 1px 10px 1px 10px;
}

.todo {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
}

.delete-btn {
  height: 34px;
  width: 60px;
  background-color: #ffffff;
  border: 0px solid;
  color: #ffc2a0;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  padding: 8px 6px 8px 6px;
  border-radius: 6px;
  margin-left: 10px;
}
